In [110]:
import os
import warnings
import pandas as pd
import numpy as np

warnings.filterwarnings("ignore")

In [116]:
# Specify the directory path
folder_dir = 'SWAN-SF dataset/partition2/FL'

# List all files in the specified directory
files = os.listdir(folder_dir)

# Print the number of files in the directory
print(len(files))

1401

In [117]:
# Initialize empty DataFrames and counters
df_M = pd.DataFrame()
df_X = pd.DataFrame()
m_count = 0
x_count = 0

# Lists to store DataFrames for 'M' and 'X' files
df_M_list = []
df_X_list = []

# Iterate through files, read CSV, and categorize into 'M' or 'X'
for file in files:
    df_tmp = pd.read_csv(folder_dir + "/" + file, sep='\\t')
    if file[0] == 'M':
        m_count += 1
        df_M_list.append(df_tmp)
    elif file[0] == 'X':
        x_count += 1
        df_X_list.append(df_tmp)

# Concatenate DataFrames, reset index, and add labels
df_M = pd.concat(df_M_list, axis=0).reset_index(drop=True)
df_M['label'] = ['M'] * len(df_M)
df_X = pd.concat(df_X_list, axis=0).reset_index(drop=True)
df_X['label'] = ['X'] * len(df_X)

# Concatenate 'M' and 'X' DataFrames into a single DataFrame
df_all = pd.concat([df_M, df_X], axis=0).reset_index(drop=True)

# Print shapes and display the head of the combined DataFrame
print(df_M.shape)
print(df_X.shape)
print(df_all.shape)
df_all.head()

(79740, 56)
(4320, 56)
(84060, 56)

,Timestamp,TOTUSJH,TOTBSQ,TOTPOT,TOTUSJZ,ABSNJZH,SAVNCPP,USFLUX,TOTFZ,MEANPOT,...,CFLARE_LOC,CFLARE_LABEL_LOC,MFLARE_LOC,MFLARE_LABEL_LOC,XFLARE_LOC,XFLARE_LABEL_LOC,XR_MAX,XR_QUAL,IS_TMFI,label
0,2012-05-08 22:00:00,5146.472386,7.581127e+10,1.549587e+24,8.780710e+13,1332.547414,5.609936e+13,5.730030e+22,-1.207744e+25,14852.579455,...,0.0,NaN,0.0,NaN,0.0,NaN,3.103700e-07,12,True,M
1,2012-05-08 22:12:00,5127.598005,7.584110e+10,1.552657e+24,8.747561e+13,1408.543077,6.408036e+13,5.714176e+22,-1.202948e+25,14985.768247,...,0.0,NaN,0.0,NaN,0.0,NaN,3.445700e-07,12,True,M
2,2012-05-08 22:24:00,5113.855462,7.579946e+10,1.548718e+24,8.675166e+13,1413.928548,6.408015e+13,5.687938e+22,-1.213981e+25,15073.925695,...,0.0,NaN,0.0,NaN,0.0,NaN,3.141900e-07,12,True,M
3,2012-05-08 22:36:00,5121.940151,7.604100e+10,1.554365e+24,8.643489e+13,1416.740520,6.169980e+13,5.697616e+22,-1.211640e+25,15129.279469,...,0.0,NaN,0.0,NaN,0.0,NaN,4.457000e-07,12,True,M
4,2012-05-08 22:48:00,5108.855689,7.600073e+10,1.555752e+24,8.627032e+13,1356.798427,5.409737e+13,5.660194e+22,-1.198470e+25,15264.527464,...,0.0,NaN,0.0,NaN,0.0,NaN,4.222700e-07,8,True,M

In [119]:
df_all.describe()

,TOTUSJH,TOTBSQ,TOTPOT,TOTUSJZ,ABSNJZH,SAVNCPP,USFLUX,TOTFZ,MEANPOT,EPSZ,...,BFLARE,CFLARE,MFLARE,XFLARE,BFLARE_LOC,CFLARE_LOC,MFLARE_LOC,XFLARE_LOC,XR_MAX,XR_QUAL
count,83823.000000,8.382300e+04,8.382300e+04,8.382300e+04,83823.000000,8.382300e+04,8.382300e+04,8.382300e+04,8.382300e+04,83823.000000,...,84060.000000,84060.000000,84060.000000,84060.000000,84060.000000,84060.000000,84060.000000,84060.000000,8.406000e+04,84060.000000
mean,2980.345900,4.051162e+10,8.614137e+23,5.639804e+13,501.858353,2.051953e+13,3.747174e+22,-1.233209e+25,1.323860e+04,-0.270382,...,0.004925,0.039722,0.007673,0.000286,0.005425,0.040245,0.007530,0.000286,-3.211959e+02,11.932120
std,1876.854817,3.005942e+10,2.551797e+24,3.377793e+13,464.056541,1.869513e+13,2.449249e+22,9.155424e+24,7.179432e+04,0.134325,...,0.070006,0.197366,0.087260,0.016895,0.073453,0.198582,0.086451,0.016895,5.658311e+03,0.808865
min,11.487325,9.435940e+07,8.605293e+20,2.223342e+11,0.151185,6.035355e+10,1.287676e+20,-5.120876e+25,2.082731e+03,-0.656165,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-9.999900e+04,0.000000
25%,1639.920175,1.919282e+10,2.706309e+23,3.154924e+13,165.894882,7.013104e+12,2.063207e+22,-1.802012e+25,5.876504e+03,-0.364470,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.153400e-07,12.000000
50%,2345.973103,2.873294e+10,4.666397e+23,4.647666e+13,360.532163,1.464339e+13,2.821889e+22,-8.901949e+24,8.263929e+03,-0.261342,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.034100e-07,12.000000
75%,4020.052620,6.108445e+10,1.080167e+24,7.500098e+13,698.140200,2.737001e+13,5.218045e+22,-5.852852e+24,1.206706e+04,-0.163122,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.652800e-06,12.000000
max,8954.798814,1.353386e+11,8.329859e+25,2.119121e+14,2494.961664,1.053315e+14,1.246868e+23,2.356570e+23,2.355518e+06,0.002374,...,1.000000,2.000000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.126500e-04,12.000000

In [113]:
df_X

,Timestamp,TOTUSJH,TOTBSQ,TOTPOT,TOTUSJZ,ABSNJZH,SAVNCPP,USFLUX,TOTFZ,MEANPOT,...,CFLARE_LOC,CFLARE_LABEL_LOC,MFLARE_LOC,MFLARE_LABEL_LOC,XFLARE_LOC,XFLARE_LABEL_LOC,XR_MAX,XR_QUAL,IS_TMFI,label
0,2012-07-05 15:00:00,6050.837311,6.974404e+10,1.342119e+24,9.929197e+13,1042.555750,3.740947e+13,5.324630e+22,-1.422278e+25,13828.458802,...,0.0,NaN,0.0,NaN,0.0,NaN,5.115000e-06,12,True,X
1,2012-07-05 15:12:00,6193.841962,7.008584e+10,1.348109e+24,1.001586e+14,1033.598153,3.645886e+13,5.329174e+22,-1.437758e+25,14019.859168,...,0.0,NaN,0.0,NaN,0.0,NaN,2.648600e-06,12,True,X
2,2012-07-05 15:24:00,6152.983712,7.021272e+10,1.354794e+24,1.001534e+14,1018.473274,3.355922e+13,5.325693e+22,-1.421595e+25,13966.126792,...,0.0,NaN,0.0,NaN,0.0,NaN,2.820100e-06,12,True,X
3,2012-07-05 15:36:00,6143.763269,7.013029e+10,1.351917e+24,9.965875e+13,1050.340406,3.693650e+13,5.318744e+22,-1.430105e+25,14055.382122,...,0.0,NaN,0.0,NaN,0.0,NaN,3.246100e-06,12,True,X
4,2012-07-05 15:48:00,6204.799512,7.046830e+10,1.352591e+24,1.001185e+14,1066.843664,3.636122e+13,5.358100e+22,-1.453664e+25,14005.923742,...,1.0,C6.2@4182:Primary,0.0,NaN,0.0,NaN,2.382000e-06,12,True,X
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4315,2012-07-12 13:24:00,6539.013678,1.105739e+11,2.309399e+24,1.375207e+14,1213.230914,6.352338e+13,8.517162e+22,-1.464681e+25,12468.333297,...,0.0,NaN,0.0,NaN,0.0,NaN,7.704600e-07,12,True,X
4316,2012-07-12 13:36:00,6621.128312,1.106263e+11,2.306999e+24,1.383431e+14,1198.449631,6.285544e+13,8.539058e+22,-1.489523e+25,12369.794970,...,0.0,NaN,0.0,NaN,0.0,NaN,8.061700e-07,12,True,X
4317,2012-07-12 13:48:00,6533.918437,1.103658e+11,2.302063e+24,1.370568e+14,1166.099998,5.786862e+13,8.509305e+22,-1.478516e+25,12408.533832,...,0.0,NaN,0.0,NaN,0.0,NaN,8.663200e-07,12,True,X
4318,2012-07-12 14:00:00,6535.926034,1.103503e+11,2.292989e+24,1.373321e+14,1175.055198,6.010278e+13,8.523188e+22,-1.518746e+25,12371.224284,...,0.0,NaN,0.0,NaN,0.0,NaN,8.680400e-07,12,True,X
4319,2012-07-12 14:12:00,6531.231564,1.102182e+11,2.287210e+24,1.367438e+14,1178.545349,5.835271e+13,8.515476e+22,-1.531688e+25,12343.407927,...,0.0,NaN,0.0,NaN,0.0,NaN,9.129900e-07,12,True,X

# Mean value of TOTPOT feature for Label X

In [114]:
# Extract non-null values of 'TOTPOT' from DataFrame 'df_X'
totpot = df_X[df_X['TOTPOT'].notnull()]['TOTPOT']

# Print information about data points in class 'X' in partition2
print("Length of data points of class X in partition2:", len(df_X))
print("Count of NaN values in TOTPOT:", len(df_X) - len(totpot))

# After dropping NaN values, print mean and median of 'TOTPOT'
print("\nAfter dropping the NaN values - ")
print("Mean:", np.mean(totpot))
print("Median:", np.median(totpot))

Length of data points of class X in partition2: 4320
Count of NaN values in TOTPOT: 24

After dropping the NaN values -
Mean : 1.6518857529269846e+24
Median : 1.5439726726094336e+24